---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: camera-recorder
  namespace: argocd
  labels:
    app.kubernetes.io/name: camera-recorder
    app.kubernetes.io/component: recording
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  
  source:
    repoURL: https://github.com/5dlabs/cto-cameras
    targetRevision: main
    path: manifests
  
  destination:
    server: https://kubernetes.default.svc
    namespace: camera-system
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
      - PrunePropagationPolicy=foreground
    
    retry:
      limit: 5
      backoff:
        duration: 30s
        factor: 2
        maxDuration: 5m
  
  revisionHistoryLimit: 5
